@using ApplicationSite.Models
@model ApplicationSite.ViewModels.ManageCandidateViewModel
@{
    ViewBag.Title = "ManageCandidate";
}

<div class="row">
    <div class="col-lg-4">
        <h3>Unused Resumes</h3>
        @if (Model.Resumes.Any(node => Model.AppliedForPositions.All(apply => apply.Resume.Id != node.Id)))
        {
            <div class="list-group">
                @foreach (Resume item in Model.Resumes.Where(node => Model.AppliedForPositions.All(apply => apply.Resume.Id != node.Id)))
                {
                    <div class="list-group-item">
                        <p class="list-group-item-text">@item.Title</p>
                        <button class="btn btn-default" onclick=" location.href = '@Url.Action("Delete", "Resumes", new {id = item.Id}, null)' " type="button" title="Remove Resume">Remove</button>
                        <button class="btn btn-default" onclick=" location.href = '@Url.Action("Download", "Resumes", new {id = item.Id}, null)' " type="button" title="Download Resume">Download</button>
                    </div>
                }
            </div>
        }
        else
        {
            <div>
                <h4>You have no unused resume files.</h4>
            </div>
        }
    </div>
    <div class="col-lg-4">
        <h3>Used Resumes</h3>
        @if (!Model.Resumes.Any(node => Model.AppliedForPositions.All(apply => apply.Resume.Id != node.Id)))
        {
            <div class="list-group">
                @foreach (Resume item in Model.Resumes.Where(node => Model.AppliedForPositions.All(apply => apply.Resume.Id == node.Id)))
                {
                    <div class="list-group-item">
                        <p class="list-group-item-text">@item.Title</p>
                        <div class="panel panel-default">
                            <div class="panel-heading">Applied with</div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    @foreach (AppliedCandidates applyPosition in Model.AppliedForPositions.Where(node => node.Resume.Id == item.Id))
                                    {
                                        <li class="list-group-item">@applyPosition.Position.Title</li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <button class="btn btn-default disabled" onclick=" location.href = '@Url.Action("Delete", "Resumes", new {id = item.Id}, null)' " type="button" title="Remove Resume">Remove</button>
                        <button class="btn btn-default" onclick=" location.href = '@Url.Action("Download", "Resumes", new {id = item.Id}, null)' " type="button" title="Download Resume">Download</button>
                    </div>
                }
            </div>
        }
        else
        {
            <div>
                <h4>You have no used resume files.</h4>
            </div>
        }
    </div>
    <div class="col-lg-4">
        <div>
            @{
                Html.RenderAction("Create", "Resumes");
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @if (Model.AppliedForPositions.Any())
        {
            <h2>Applied Positions</h2>
            <div class="list-group">
                @foreach (AppliedCandidates item in Model.AppliedForPositions)
                {
                    var withdrawContainer = "widthdrawContainer" + item.Position.Id;
                    var withdrawModal = "withdrawModal" + item.Position.Id;
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">@item.Position.Title</h4>
                        <button id="withdrawButton" class="btn btn-default" onclick="setupSiteModal('#@withdrawContainer', '#@withdrawModal'); " type="button" title="Withdraw">Withdraw</button>
                    </div>
                    <div id="@withdrawModal"  class='modal fade in' data-url='@Url.Action("Withdraw", "Positions", new {id = item.Position.Id}, null)'>
                        <div id='@withdrawContainer'>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <h2>You have yet to apply for a position!</h2>
            <h2>@Html.ActionLink("Click here to check new and open positions.", "Index", "PositionsList")</h2>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}