@model ApplicationSite.ViewModels.AppliedCandidateViewModel

@{
    ViewBag.Title = "Apply";
}

<h2>@Model.Position.Title</h2>

@if (Model.ResumeSelectList.Any())
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.HiddenFor(model => model.Position.Id)
            @Html.HiddenFor(model => model.Position.Title)
            @Html.HiddenFor(model => model.Position.Description)
            @Html.HiddenFor(model => model.ResumeSelectList)
            @Html.HiddenFor(model => model.CurrentUser.Id)
            <hr />
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                @Html.LabelFor(model => model.ResumeSelectList, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.DefaultSelectItem, Model.ResumeSelectList, htmlAttributes: new {@class = "control-label col-md-2"})
                    @Html.ValidationMessageFor(model => model.ResumeSelectList, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-lg-12">
            <h4>You do not have any resumes on file. You must add one before you can apply!</h4>
            <h3>@Html.ActionLink("Click here to add one.", "ManageCandidate", "Manage")</h3>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to Open Positions List", "Index", "PositionsList")
</div>
